.footer{
    &__social{
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            justify-content: center;

            li{
                padding: 16px;

                img{
                    width: 32px;

                }
            }
        }
    }

    &__logo{
        display: flex;
        justify-content: center;
        img{
            width: 100px;
        
        }
    }
    &__copyright{
        display: flex;
        justify-content: center;
        padding: 24px;
        font-size: 16px;
    }   
}