.players{
    padding: 5.6vw;
    
    &__itens{
        display: flex;
        justify-content: center;
        &__li{

            padding: 24px;
            img{
                border-radius: 10px;
                width: 80px;
                
            }   
            
        }
    }
}