body{
    background-color: rgb(66, 63, 66);
    
    
}
.container{
    margin-bottom: 20px;
}

form{
    
    font-family: "Anybody", sans-serif;
    align-items: center;
    margin-left: 700px;
    margin-right: 700px;
    border-radius: 10px;
    background-color: rgb(187, 183, 182);
    flex-direction: column;
    padding: 40px;

}

input{
    flex-direction: column;
    display: flex;
}

.dentro{
    
}

h1{
    margin-left: 20px;
}

input{
    margin-top: 5px;
    border-radius: 10px;
}

button{
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    


    &:hover {
        background-color: #0db623;
        color: #000000;
    }

    
    &:focus {
        box-shadow: 0 0 5px #000000;
    }
}

.cabecalho{
    display:flex;
    
}

h1{
    font-size: 56px;
}

header{

    margin-left: 700px;
    margin-right: 700px;}

img{
    margin-left: 20px;
    margin-top: 28px;
    width: 70px;
    height: 80px;
}    